body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

#container_parking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 780px;
  height: 650px;
  border: solid 2px black;
  gap: 0.5rem;
}

.plaza {
  border: solid 2px black;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCoche {
  width: 140px;
  height: 140px;
}

.imgFree {
  width: 140px;
  height: 140px;
}

button {
  width: 250px;
  height: 80px;
}

.container_button {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.parking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnIn {
  margin: 10px;
}
